# Dataframes
Large datasets are easiest to work with, when the individual parameters are stored in labelled **<font color=red>columns**</font> or, equivalently, **<font color=red>fields</font>**.

<img src="images/clean_dataset.png">

***

The best way work with these datasets is with DataFrames, which allow:
- Efficient storage of parameters;
- Clear way of accessing parametersl
- Robust set of functions (sorting, function mapping, max and min) to analyse and edit the data.

# Title
***
<font color=red> Test</font>

# Packages and startup
Using DataFrames requires the:
- `pandas` package for the DataFrame functionality;
- `pickle` package for saving dataframes to files;
- `IPython.display` package to print out the Dataframes in a nice format;

Dataframes will be loaded and saved from from `.pkl` files - it is the easiest and most hassle-free way of loading data.
```python
dataframe_example = pd.read_pickle("FILENAME")
```

The best way to display a dataframe is with the display function (<font color=red>do not forget to import <code>IPython.display</code></font>)
```python
display(dataframe_example)
```

In [2]:
import pandas as pd
from IPython.display import display
import pickle

# 1 - load and display dataframe
dataframe = pd.read_pickle("datasets/CPU_OfferScraperOutput.pkl")
display(dataframe)

,Brand,Description,Part_number,Price,Qty,Remark,Group_name,Unique_ID
0,Intel,Xeon D-2183IT,FH8067303782501 Tray,---,---,NaN,Xeon D Processor Tray,CPU_00000
1,Intel,Xeon W-2195,CD8067303805901 Tray,Call,20,3 days,Xeon W Processor Tray,CPU_00001
2,Intel,Xeon W-2175,CD8067303842300 Tray,Call,20,3 days,Xeon W Processor Tray,CPU_00002
3,Intel,Xeon W-2155,CD8067303533703 Tray,Call,20,3 days,Xeon W Processor Tray,CPU_00003
4,Intel,Xeon W-2145,CD8067303533601 Tray,"USD1,200.00",20,3 days,Xeon W Processor Tray,CPU_00004
...,...,...,...,...,...,...,...,...
3736,AMD / Tray,Ryzen 2300U,YM2300C4T4MFB,---,---,NaN,AMD Mobile Processor,CPU_03736
3737,Intel,MMX-233,Tray,---,---,NaN,AMD Mobile Processor,CPU_03737
3738,Intel,Xeon E-2176G,CM8068403380018 Tray,---,---,NaN,Xeon E Processor Tray,CPU_03738
3739,Intel,Xeon E-2186G,CM8068403379918 Tray,---,---,NaN,Xeon E Processor Tray,CPU_03739
3740,Intel,Xeon E3-1220 V6,BX80677E31220V6,---,---,NaN,Xeon Processor Box,CPU_03740

# Anatomy of a DataFrame
<img src="images_inkscape/frame_anatomy.png" height="30">


- **<font color=red>Parameters</font>** are the individual cells;
- **<font color=red>Index</font>** reffers to the row. Operations on the index are called on `axis=0`;
- **<font color=red>Fields</font>** are the columns. Operations on the index are called on `axis=1`;

# Accessing individual elements
Elements from the Dataframe can be accessed in these 3 common ways:
- By column:            `dataframe_example['COLUMN_NAME']`              which results in a 1D list that can be iterated through;
- By column and index:  `dataframe_example['COLUMN'][INDEX]]`           which prints off the specified value in the specified column

<font color=cyan size=4>‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†‚ö†</font>

<font color=red size=2> <b> Do not read and change the same dataframe object.</b> </font> - whenever you want to look through a dataframe, and then edit it, make a copy
```python
brand = dataframe_example['Brand'].copy()
for idx, i in brand:
    dataframe_example['Brand'][idx] = brand + "‚¶ø"
```

In [105]:
########################################
# üçè Example of how to create lists
########################################
# 1 - create an empty list
list_example = []

# 2 - use the appned function to add single elemnts
list_example.append(1)
list_example.append("üçÑ")
list_example.append(2)
list_example.append("toad")

# 3 - use the + function to add another list
list_example = list_example + ["üëæ", 3, "stool"]

# 4 -see the result
print(list_example)

[1, 'üçÑ', 2, 'toad', 'üëæ', 3, 'stool']

In [108]:
########################################
# üìî Extract all of the brands from files into a single list
#    1 - modify the example below that prints out the Description column
#    2 - using above example with list, find a way of storing all of the brands from all the files in a single list
########################################
files = ["datasets/FlashCard_OfferScraperOutput.pkl",
         "datasets/SSD_OfferScraperOutput.pkl",
         "datasets/Module_OfferScraperOutput.pkl",
         "datasets/DRAM_OfferScraperOutput.pkl"]

# 1 - for loop goes through each file in the list above, and calls it f_file
for f_file in files:
    print("‚Üí Excracting from file:\t", f_file)

    # 2 - load the dataframe from the f_file that is set for the current loop
    f_dataframe = pd.read_pickle(f_file)

    # 3 - get the description column
    f_description = f_dataframe['Description'].copy()

    # 4 - turn it into a list
    f_description = list(f_description)

    # 5 - print the elements from 6-9 (just so that it doesn't print all of the entries out)
    print(f_description[6:10])

‚Üí Excracting from file:	 datasets/FlashCard_OfferScraperOutput.pkl
['16GB Micro SDHC Extreme C10 4K UHS-I 90mb/s', '16GB TransFlash (Micro SDXC) Extreme 60mb/s', '128GB MicroSDXC UHS-I card for Nintendo Switch', '64GB micro SDXC C10 Exceria UHS-I 98mb/s']
‚Üí Excracting from file:	 datasets/SSD_OfferScraperOutput.pkl
['480GB SSD Green 2.5" 7mm SATA III 6Gb/s', '400GB SSD SATA3 2.5 inch MLC S3710 Series', '120G BX500 2.5" SSD SATA', '250G Ultra II SSD SATAIII 2.5" SSD']
‚Üí Excracting from file:	 datasets/Module_OfferScraperOutput.pkl
['DDR4 PC2666 SO-DIMM 2Gx64', 'DDR4 PC2666 SO-DIMM 2Gx64', 'DDR4 PC2666 SO-DIMM 2Gx64', 'DDR4 PC2666 SO-DIMM 1Gx64']
‚Üí Excracting from file:	 datasets/DRAM_OfferScraperOutput.pkl
['GDDR5 256Kx32-24', 'GDDR5 256Kx32-25', 'GDDR5 256Mx32 1.35v (8Gb)', 'GDDR5 256Mx32-80']

In [112]:
########################################
# üçè Example of how to go through a single column of a dataframe and change values
########################################
# 1 - load dataframe
dataframe_example = pd.read_pickle("datasets/DRAM_OfferScraperOutput.pkl")

# 2 - extract the brand column
brand = dataframe_example['Brand'].copy() # <--------------------  A copy is made, since the for loop may edit the original dataframe
brand = brand[:10]             # cut to only the first 10 elements (for compactness)

# 3 - enumerating, eveery element in "f_brand"
#     and gives it a unique idx
for idx, f_brand in enumerate(brand):
    print(idx, "\t‚Üí\t", f_brand)

0 	‚Üí	 SK Hynix
1 	‚Üí	 Micron
2 	‚Üí	 Samsung
3 	‚Üí	 Samsung
4 	‚Üí	 Micron
5 	‚Üí	 Micron
6 	‚Üí	 Samsung
7 	‚Üí	 Samsung
8 	‚Üí	 SK Hynix
9 	‚Üí	 Micron

In [114]:
########################################
# üìî Use the above example, to modify the brands to lowercase
#    an example is shown of how to modify a cell in the dataframe
########################################
# 1 - load dataframe
dataframe_example = pd.read_pickle("datasets/DRAM_OfferScraperOutput.pkl")

dataframe_example['Brand'][0] = "üçÑ"
dataframe_example['Brand'][2] = "üçÑ"

display(dataframe_example)

,Brand,Description,Part_number,Price,Qty,Remark,Group_name,Unique_ID
0,üçÑ,GDDR5 256Mx32 1.35v (8Gb),H5GQ8H24MJR-R4C,USD6.00,3200,2 days,GDDR5,DRAM_00000
1,Micron,GDDR5 256Mx32-60,MT51J256M32HF-60:A,USD4.10,10000,4 days,GDDR5,DRAM_00001
2,üçÑ,GDDR5 256Kx32-03,K4G80325FB-HC03,Call,---,5 days,GDDR5,DRAM_00002
3,Samsung,GDDR5 256Kx32-28,K4G80325FB-HC28,Call,10080,7 days,GDDR5,DRAM_00003
4,Micron,GDDR5 256Mx32-70,MT51J256M32HF-70:B,USD5.35,30000,3 days,GDDR5,DRAM_00004
...,...,...,...,...,...,...,...,...
9920,Samsung,Direct RDRAM 288Mx18,K4R881869A-FCK8000,---,---,NaN,FPM Fast Page Mode,DRAM_09920
9921,Samsung,Rambus DRAM 128Mbit,K4R271669F-TCS8,---,---,NaN,FPM Fast Page Mode,DRAM_09921
9922,Hyundai / LGS,Rambus 2Mx8 16M,GM73V1892H16C,USD1.65,8640,3 days,FPM Fast Page Mode,DRAM_09922
9923,Hyundai(LGS),Rambus 2Mx8 16M,GM73V1892H-16C,Call,8640,3 days,FPM Fast Page Mode,DRAM_09923
9924,Samsung,Rambus,K4R271669H-DCS8,Call,30000,booking,FPM Fast Page Mode,DRAM_09924

# DataFrame metadata

<div id="content" class="container">
<div class="row"><div class="col-md-9"><h1 class="title"></h1>
<table class="table table-striped table-bordered table-hover table-condensed">

<colgroup>
<col  class="left">

<col  class="left">
</colgroup>
<tbody>
<tr>
<td class="text-left"><code>dataframe_example.columns</code></td>
<td class="text-left">Get list of column names</td>
</tr>

<tr>
<td class="text-left"><code>dataframe_example.index</code></td>
<td class="text-left">&#xa0;</td>
</tr>

<tr>
<td class="text-left"><code>dataframe_example.count()</code></td>
<td class="text-left">Get number of non-zero values</td>
</tr>

<tr>
<td class="text-left"><code>dataframe_example.describe()['Brand']</code></td>
<td class="text-left">Describe a certain column</td>
</tr>

<tr>
<td class="text-left"><code>dataframe_example.describe()['Brand'].unique</code></td>
<td class="text-left">Describe number of unqiue values in a column</td>
</tr>

<tr>
<td class="text-left"><code>dataframe_example.describe()['Brand'].top</code></td>
<td class="text-left">Describe most frequency value in column</td>
</tr>
</tbody>
</table>
</div><div class="col-md-3"></div></div></div>

In [134]:
########################################
# üìî Given an unknown DataFrame, use the function from the above table to
#    1 - extract column names
#    2 - determine number of unique values in each column and the top occurence
########################################
unknown_dataframe = pd.read_pickle("unknown.pkl")

# Building new dataframes
Sometimes dataframes need to be built up from scratch - such is life. The procedure breaks down into 2 steps:
1. Creation of the dictionary <font color=red>‚ò©</font>;
2. Calling of `pd.DataFrame(DICTIONARY)` to turn the dictionary onto the DataFrame;
3. Calling of `DATAFRAME.set_index('COLUMNNAME')` to specify what to use as the index.

<font color=red>‚ò©</font> A dictionary consists of paits of names and a definitions <font color=red><b>inside curly braces {}</b></font>. Below is an example
```python
dictionary_example = {'Animal': ["üêñ", "üêÑ", "üêã"],
                      "Number": [1, 2, 4],
                      "Lonely Number": 1}
```

In [115]:
########################################
# üçè Example of creating a dataframe
########################################
# 1 - create the dictionary
dictionary_example = {'Animal': ["üêñ", "üêÑ", "üêã"],
                      "Number": [1, 2, 4],
                      'Name': ['Ilya', 'Edwin', 'Blake']}

# 2 - turn it into a dataframe
dataframe_example = pd.DataFrame(dictionary_example)

# 3 - specify the index to use (optional)
dataframe_example.set_index('Number')

       Animal   Name
Number
1           üêñ   Ilya
2           üêÑ  Edwin
4           üêã  Blake

In [ ]:
########################################
# üìî Create a dataframe containing 10: brands, descriptions, part_numbers
########################################
brand_example = ['Intel', 'Intel', 'AMD']
description_example = ['Xeon W5580', 'Xeon E5345', 'Sempron 2500']
part_number_example = ['CD8067303533703', 'CD8067303533002' ,'SDA3000AIO2BX']

In [ ]:
########################################
# üìî Datframe within dataframe
#    1 - construct a dataframe with brand, description, part_number
#    2 - make each description a dataframe itself, with the fields:
#        price-history
#        order-history
#        component-name
########################################
description_example = pd.DataFrame({"price-history": [10, 20],
                                    'order-history': [200, 199],
                                    'component-name': ['Xeon W5580', 'Xeon W5580']})

In [132]:
########################################
# üçè Renaming columns
########################################
dataframe_example = pd.read_pickle("datasets/DRAM_OfferScraperOutput.pkl")

dataframe_example = dataframe_example.rename(index=str,
                                             columns={"Brands":"üçÑ",})

display(dataframe_example)

,Brand,Description,Part_number,Price,Qty,Remark,Group_name,Unique_ID
0,SK Hynix,GDDR5 256Mx32 1.35v (8Gb),H5GQ8H24MJR-R4C,USD6.00,3200,2 days,GDDR5,DRAM_00000
1,Micron,GDDR5 256Mx32-60,MT51J256M32HF-60:A,USD4.10,10000,4 days,GDDR5,DRAM_00001
2,Samsung,GDDR5 256Kx32-03,K4G80325FB-HC03,Call,---,5 days,GDDR5,DRAM_00002
3,Samsung,GDDR5 256Kx32-28,K4G80325FB-HC28,Call,10080,7 days,GDDR5,DRAM_00003
4,Micron,GDDR5 256Mx32-70,MT51J256M32HF-70:B,USD5.35,30000,3 days,GDDR5,DRAM_00004
...,...,...,...,...,...,...,...,...
9920,Samsung,Direct RDRAM 288Mx18,K4R881869A-FCK8000,---,---,NaN,FPM Fast Page Mode,DRAM_09920
9921,Samsung,Rambus DRAM 128Mbit,K4R271669F-TCS8,---,---,NaN,FPM Fast Page Mode,DRAM_09921
9922,Hyundai / LGS,Rambus 2Mx8 16M,GM73V1892H16C,USD1.65,8640,3 days,FPM Fast Page Mode,DRAM_09922
9923,Hyundai(LGS),Rambus 2Mx8 16M,GM73V1892H-16C,Call,8640,3 days,FPM Fast Page Mode,DRAM_09923
9924,Samsung,Rambus,K4R271669H-DCS8,Call,30000,booking,FPM Fast Page Mode,DRAM_09924

# Merging dataframes
DataFrames are merged together with the function `pd.concat`
- <font color=red>axis=1</font> in order to add new columns;
- <font color=red><code>join='inner'</code></font> to crop the DataFrame to match the shortest Dataframe;
- <font color=red><code>join='outer'</code></font> to expand the DataFrame to match the longest DataFrame;

In [131]:
########################################
# üçè Merging of dataframes
########################################
# 1 - create the dataframes
dataframe1 = pd.DataFrame({'Brand': ['Intel', 'Intel', 'AMD'],
                          "Description": ['Xeon W5580', 'Xeon E5345', 'Sempron 2500'],
                          'Part_Number': ['CD8067303533703',
                                          'CD8067303533002','SDA3000AIO2BX']})
dataframe2 = pd.DataFrame({'Qty': [10, 30, 40, 40],
                           'Price': [200, 100, 300, 400]})

# 2 - combine using the shortest dataframe
display(pd.concat([dataframe1, dataframe2], axis=1, join='outer'))

# 3 - combine using the longest dataframe
display(pd.concat([dataframe1, dataframe2], axis=1, join='inner'))

   Brand   Description      Part_Number  Qty  Price
0  Intel    Xeon W5580  CD8067303533703   10    200
1  Intel    Xeon E5345  CD8067303533002   30    100
2    AMD  Sempron 2500    SDA3000AIO2BX   40    300
3    NaN           NaN              NaN   40    400

   Brand   Description      Part_Number  Qty  Price
0  Intel    Xeon W5580  CD8067303533703   10    200
1  Intel    Xeon E5345  CD8067303533002   30    100
2    AMD  Sempron 2500    SDA3000AIO2BX   40    300

In [ ]:
########################################
# üìî Combine Brand and Description columns from file 1 with Qty and Price columns of file2
########################################

file1 = "datasets/SSD_OfferScraperOutput.pkl"
file2 = "datasets/Module_OfferScraperOutput.pkl"

# Saving Dataframes
Dataframes are saved in a single instruction:
1. Open a file of your choice in write mode (`wb`);
2. Call it `fout` (of whatever is appropriate)
3. Call the `pickle.dump` function on the dataframe to save, and specify `fout`

In [122]:
with open("datasets/temp.pkl", "wb") as fout:
    pickle.dump(dataframe, fout)

########################################
# üìî Save all dataframes in this fashion
########################################

# Empty values and duplicates
Occasionally the DataFrame will be littered with values that either need to be dropped or filled

<div id="content" class="container">
<div class="row"><div class="col-md-9"><h1 class="title"></h1>
<table class="table table-striped table-bordered table-hover table-condensed">


<colgroup>
<col  class="left">

<col  class="left">
</colgroup>
<thead>
<tr>
<th scope="col" class="text-left"><code>dataframe_example.drop(['Brand'], axis=1)</code></th>
<th scope="col" class="text-left">drop a whole column</th>
</tr>

<tr>
<th scope="col" class="text-left"><code>dataframe_example.drop([0, 67, 544])</code></th>
<th scope="col" class="text-left">dropping at particular indexes</th>
</tr>

<tr>
<th scope="col" class="text-left"><code>dataframe_example.dropna(axis=0)</code></th>
<th scope="col" class="text-left">drop rows with missing values</th>
</tr>

<tr>
<th scope="col" class="text-left"><code>dataframe_example.dropna(axis=1)</code></th>
<th scope="col" class="text-left">delete columns with missing values</th>
</tr>

<tr>
<th scope="col" class="text-left"><code>dataframe_example.fillna("üçÑ")</code></th>
<th scope="col" class="text-left">replace missing values</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-left"><code>dataframe_example.duplicated('Brand')</code></td>
<td class="text-left">drop duplicates in a given column</td>
</tr>

<tr>
<td class="text-left"><code>dataframe_example.drop_duplicates(False)</code></td>
<td class="text-left">drop all duplicates</td>
</tr>

In [ ]:
########################################
# üìî 
#    1 - Remove all columns with duplicates in the following dataframe
#    2 - Delete the 'Brand' and 'Description' columns
#    3 - Add new 'Brand' and 'Description' columns but with empty values
#    4 - Replace the empty values with generic strings
########################################
dataframe_example = pd.read_pickle("datasets/DRAM_OfferScraperOutput.pkl")

# Additional features

In [ ]:
train['Item_Visibility'] = train['Item_Visibility'].replace(0,np.mean(train['Item_Visibility']))
X = train.loc[:,['Outlet_Establishment_Year','Item_MRP']]
train['Item_Weight'].fillna((train['Item_Weight'].mean()), inplace=True)
train['Outlet_Size'].fillna('Small',inplace=True)

# Extracting columns

In [ ]:
import pandas as pd
import numpy as np
a = pd.DataFrame({"Horse": [1, 2, 3, 4], "Jockey": ["A", "B", "C", "D"]})
print(a.loc[:, 'Horse'])
print("üêãüêãüêãüêãüêãüêãüêãüêã")
print(a.loc[:, ['Horse', 'Jockey']])
a['Horse'].replace(3, np.mean(a['Horse']), inplace=True)
a['Horse'].replace(1, "üêã", inplace=True)

print(a)

# Getting "Dummies" i.e turning cells into categories

In [14]:
pd.get_dummies(a['Horse'])

0    1
1    2
2    3
3    4
Name: Horse, dtype: int64
üêãüêãüêãüêãüêãüêãüêãüêã
   Horse Jockey
0      1      A
1      2      B
2      3      C
3      4      D
  Horse Jockey
0     üêã      A
1     2      B
2   2.5      C
3     4      D

   2.0  2.5  4.0  üêã
0    0    0    0  1
1    1    0    0  0
2    0    1    0  0
3    0    0    1  0

In [ ]:
for idx, i in bet_portfolio.iterrows():
    
    # selecting only certain elements
prediction_dataframe[prediction_dataframe['Payout'] > 2]